@charset "UTF-8";

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}


:root{
    --rosa01: #E6BED2;
    --rosa02: #D895B1;
    --rosa03: #BF7896;
    --rosa04: #9B5372;
    --cinza: rgb(39, 35, 39);
    --font-poppins: "Poppins", sans-serif;
    --font-logo: "DM Serif Text", serif;
}

body{
    font-family: var(--font-poppins);
}

div#header{
    display: grid;
    grid-template-areas: 
        "header nav span";
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza);
}

header{
    grid-area: header;
}

header > h1{
    font-family: var(--font-logo);
    color: var(--rosa03);
    padding: 20px;
}

nav{
    grid-area: nav;
    position: relative;
    color: var(--rosa03);
    padding: 20px;
}

nav > a{
    padding: 6px 10px;
    color: var(--rosa02);
}

nav > a:hover{
    color: var(--cinza);
    background-color: var(--rosa03);
    border-radius: 3px;
}

span#nav-simbol{
    display: none;
    grid-area: span;
    color: var(--rosa02);
    padding: 10px;
    margin-right: 10px;
}

@media (min-widht: 800px){
    nav{
        display: none;
    }

    span#nav-simbol{
        display: block;
    }
}